.gallery_view {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 0.6rem;
  grid-row-gap: 0.6rem;
  padding: 2rem 2rem 4rem 2rem;

  > .card {
    position: relative;
    width: 10.3rem;
    height: 10.3rem;
    border-radius: 0.3rem;

    > img {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      object-fit: cover;
    }
  }
}

/* 사진이 여러장인 경우 */
.multiple::before {
  content: '';
  position: absolute;
  display: inline-block;
  background: url('@/assets/images/icons/popup.png') no-repeat center / contain;
  right: 0.5rem;
  top: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.9;
}
